.background {
    background-image: url('neighborhood.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.topbar_all {
    background-color: rgba(143,170,168,0.7);
}

.text {
    margin-top: 80px;
}


#marah:hover + #marahinfo{
    visibility: visible;
    margin-top: 30px;
}
#marah{
    width: 200px;
    margin-top:20px;
}
#marahinfo{
    border: 3px solid black;
    width:200px;
    color:white;
    background-color: black;
    visibility: hidden;
}
#aboutmarah{
    position: absolute;
    left: 100px;
}
#omar:hover + #omarinfo{
    visibility: visible;
    margin-top: 30px;
}
#omar{
    width: 200px;
    margin-top:20px;
}
#omarinfo{
    border: 3px solid black;
    width:200px;
    color:white;
    background-color: black;
    visibility: hidden;
}
#aboutomar{
    position: absolute;
    left: 400px;
}
#gilad:hover + #giladinfo{
    visibility: visible;
    margin-top: 30px;
}
#gilad{
    width: 200px;
    margin-top:20px;
}
#giladinfo{
    border: 3px solid black;
    width:200px;
    color:white;
    background-color: black;
    visibility: hidden;
}
#aboutgilad{
    position: absolute;
    right: 400px;
}
#noam:hover + #noaminfo{
    visibility: visible;
    margin-top: 30px;
}
#noam{
    width: 200px;
    margin-top:20px;
}
#noaminfo{
    border: 3px solid black;
    width:200px;
    color:white;
    background-color: black;
    visibility: hidden;
}
#aboutnoam{
    position: absolute;
    right: 100px;
}