.background {
    background-image: url('neighborhood.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.topbar_all {
    background-color: rgba(143,170,168,0.7);
}

.text {
    margin-top: 80px;
}

#gilad{
    height: 300px;
    width: 200px;
    margin-top:20px;
    position: absolute;
    right:80px;

}
#noam{
    height: 300px;
    width: 200px;
    margin-top:20px;
    position: absolute;
    right:400px;
}
#omar{
    height: 300px;
    width: 200px;
    margin-top:20px;
    position: absolute;
    left:80px;

}

#marah{
    height: 300px;
    width: 200px;
    margin-top:20px;
    position: absolute;
    left:400px;

}

.omar{
    position: relative;
    left: 80px;
    top:350px;
    border: 3px solid black;
    width:200px;
    color:white;
}

.marah{
    position: relative;
    left: 400px;
    top:180px;
    border: 3px solid black;
    width:200px;
    color:white;

}

.noam{
    position: absolute;
    right: 400px;
    top:480px;
    border: 3px solid black;
    width:200px;
    color:white;
}

.gilad{
    position: absolute;
    right: 80px;
    top:480px;
    border: 3px solid black;
    width:200px;
    color:white;
}
}
