* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Put your styles BELOW this line */
body {


}

.background {
    background-image: url("neighborhood.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.pos{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#topbar_all{
    background-color:transparent;
    position: relative;
    width: 100%;
    height: 80px;
}

.topbar{
    color:black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

#name{
    padding-top: 30px;
    height:150px;
}

#logo{
    height: 65px;
    width: 65px;
    background-color: transparent;
    position: relative;
}

#navbarSupportedContent{
    position: absolute;
    right:30px;
}

#login_page{
    width:200px;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;


}


#styling_login_page{

    background-color: white;
    border: 25px solid white;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width:300px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
}
#logo2{
    height: 75px;
    width: 75px;
    background-color: transparent;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




