<!DOCTYPE html>
<html lang="zxx" class="no-js">   
     <head>
        <title>BetterWays</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
 
 
    </head>
    <body>
        <div class="container-fluid">
            <div class="background"></div>
        </div>
        <div id="topbar_all">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img src="{{ url_for('static', filename='BetterWaysLogo.png') }}" id="logo">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href=" {{ url_for('home') }} ">Home <span class="sr-only">(current)</span></a>
                        </li>
        
                        </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href=" {{ url_for('news_route') }} " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Your Neighborhood
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li> 
        
                        <li class="nav-item">
                            <a class="nav-link" href=" {{ url_for('login_route') }} ">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {{ url_for('signup') }} ">Signup</a>
                    
                    </ul>
                </div>
            </nav>
        </div>
        <div id="text">
            <h1>
                About the BetterWays website!
            </h1>
            <div id="overview">
                <h2>An Overview</h2>
                <h3>The Problem:</h3>
                <p> Lack of information of neighborhood residents have about their own neighborhoods. A place to complain and advocate for ideas.</p>
                <h3>The Solution: </h3>
                <p> Developing a website to host relevant information about the neighborhood, by users who contribute.</p>
                <h3>Our Audience: </h3>
                <p> Young Adults: a cohort that is dependent on the various aspects of neighborhood life</p>    
            </div>
            <div id="requirements">
                <h2>Requirements</h2>
                <h3>Technical Requirements</h3>
                <p> We will need to store information that we get from the users such as their arts, their job requirement, their emergency announcements. </p>
                <h3>Functional Requirements</h3>
                <p> Our users should be able to sign up, log in, as well as posting issues pertaining to their community, and marking when they are resolved. </p>
            </div>
        </div>

        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

    </body>
</html>
