<!DOCTYPE html>
<html lang="zxx" class="no-js">   
     <head>
        <title>BetterWays</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Add Bootstrap CSS to the page -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
 
 
    </head>
    <body>
        

        <!-- home page image -->
        <!-- <body id="first_image"style="background-image:url('download.jpeg')"> 
        <!-- <img id="first_image" src=" {{ url_for('static', filename='download.jpeg')}} "> 
        <!-- starting with the divs for the top bar -->



        <div class="container-fluid">
            <div id="topbar_all">
                <img src="{{ url_for('static', filename='BetterWaysLogo.png') }}" id="logo">
                <div id= "links_topbar">
                    <a href="" class="topbar">Home </a>
                    <a href="" class="topbar">About &#9662</a>
                    <a href="" class="topbar">Your Neighborhood &#9662</a>
                    <a href="" class="topbar">Sign Up</a>
                    <a href="" class="topbar">Login</a>                        
                </div>
            </div>

            <div id="name" class="row">
                <div class="col-12">
                    <h1 class="pos">BetterWays</h1>
                </div>
            </div>
            <div id="description" class="row">
                <div class="col-12">
                    <p>blahblahblah</p>
                </div>
            </div>


        </div>
     
        
        



        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

    </body>
</html>
